* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - 285px);
}

a {
    text-decoration: none !important;
    color: white;
    &:hover {
        color: black;
    }
}
